nav {
    display: flex;
    justify-content: center;
    /* position: sticky; */
    top: 0;
    backdrop-filter: blur(10px);
}

nav div {
    padding: 16px 32px;
    display: flex;
    align-items: center;
    width: var(--max-width);
    justify-content: space-between;
}

nav div h1 {
    font-size: 24px;
    color: white;
    font-weight: 600;
    letter-spacing: 0.72px;
}

nav div h1 span {
    background: var(--gradient-3, linear-gradient(45deg, #8c00ff 0%, #ff00e6 20.00%, #8c00ff 40.00%, #ff00e6 60.00%, #8c00ff 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav div a {
    text-decoration: none;
    color: white;
    background: var(--blue1);
    border: none;
    border-radius: 24px;
    padding: 10px 30px;
}