nav {
    display: flex;
    justify-content: center;
}

nav div {
    padding: 16px 32px;
    display: flex;
    align-items: center;
    width: var(--max-width);
    justify-content: space-between;
}

nav div h1 {
    font-size: 24px;
    color: white;
    font-weight: 600;
    letter-spacing: 0.72px;
}

nav div a {
    text-decoration: none;
    color: white;
    background: var(--blue1);
    border: none;
    border-radius: 24px;
    padding: 10px 30px;
}